<nav>
  <a href="/">
    <img src="/assets/kevin-burke-logo.png" alt="KB Web Marketing">
  </a>
  <ul>
    {%- assign sorted_pages = collections.page | sort: 'data.link_order' -%}
    {%- for p in sorted_pages -%}
      {% if p.data.link_title %}
        <li>
          <a href="{{ p.url }}"
            {% if page.url == p.url %}
              class="active"
            {% endif %}
          >{{ p.data.link_title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>

{% if heading %}
  <h1>
    {{ heading }}
  </h1>
{% endif %}